# Dependencies
node_modules

# Build outputs
dist
build
.next
out

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.docker

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Temporary files
tmp/


*storybook.log
storybook-static

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# GCP credentials
gcs-key.json
